.App {
  height: 100%;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Name {
  opacity: 1;
  animation: fade-in-out 5s linear infinite;
}

@keyframes fade-in-out {
  0%, 100% { opacity: 0; }
  50% { opacity: 1;}
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h4 {
  transition: color 0.5s linear;
}

/* @media (max-width: 1024px) { */
  code {
    display: inline-block;
    word-break: break-all;
    max-width: 95vw;
  }
/* } */